@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

.userProfileContainer {
  display: flex;
}

.mainBody {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255, 0.5);
  margin: 30px 0;
  margin-left: 10px;
  border-radius: 10px;
  border-color: black;
  width: 65%;
  height: 80vh;
}

.imageContainer {
  position: relative;
  background-color: #28282a;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 40px;
  box-shadow: 0 1px 1px rgba(210, 5, 5, 0.3);
}

.profileImage {
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.addPicButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(8, 8, 47, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.addPicButton:hover {
  background-color: #094381;
}

.userinfo {
  margin-left: 40px;
  color: #ffffff;
  font-family: sans-serif;
  margin-top: 10px;
  text-align: center;
  background-color: #28282a;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(210, 5, 5, 0.3);
}

.userDetailsContainer {
  margin: 70px 50px;
}

.feature {
  width: 250px;
  margin-left: 10px;
  margin-bottom: 50px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #28282a;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.feature:hover {
  color: #000000;
  font-weight: bold;
  background-color: rgb(134, 134, 155);
  border-color: #000000;
  transform: translateY(-3px);
}

.featureContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-content: center;
  margin-top: 50px;
}

.userProfilefeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*media queries to make responsive*/
@media only screen and (max-width: 1126px) {
  .userDetailsContainer {
    margin: 70px 30px;
  }
}

@media only screen and (max-width: 1078px) {
  .userDetailsContainer {
    margin: 70px 20px;
  }
}

@media only screen and (max-width: 1028px) {
  .userDetailsContainer {
    margin: 70px 10px;
  }
}

@media only screen and (max-width: 982px) {
  .userDetailsContainer {
    margin: 70px -5px;
  }

  .featureContainer {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 939px) {
  .userDetailsContainer {
    margin: 70px -15px;
  }

  .featureContainer {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 933px) {
  .userDetailsContainer {
    margin: 50px;
    margin-left: 20px;
  }

  .mainBody {
    width: 45%;
    height: auto;
  }

  .userProfileContainer {
    flex-direction: column;
    align-items: center;
  }

  .featureContainer {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 730px) {
  .mainBody {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 569px) {
  .mainBody {
    width: 70%;
    height: auto;
  }
}

@media only screen and (max-width: 502px) {
  .mainBody {
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 410px) {
  .mainBody {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  .userDetailsContainer {
    margin: 50px;
    margin-left: 15px;
  }

  .featureContainer {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 351px) {
  .userDetailsContainer {
    margin: 50px;
    margin-left: 15px;
  }

  .featureContainer {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 348px) {
  .userDetailsContainer {
    margin: 50px;
    margin-left: 5px;
    width: 100%;
  }

  .featureContainer {
    margin-right: 5px;
    width: 100%;
  }

  .profileImage {
    height: 250px;
    width: 250px;
  }
}
