/* MovieForm.css */
.body{
  font-family: 'Poppins', sans-serif;
  background: url('P1.jpg') no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  min-height: 100vh;
  background-size: cover;
  
}

.movie-form-container {
  width: 400px;
  background: transparent;
  margin: 0 auto;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0,0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #e6e8ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.movie-form-container h1{
  font-size: 36px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  background: transparent;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #3b1782;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #230255;
}